force-app/main/default/flows/RC_Case_Status_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Subflow_Close</name>
        <label>Set Subflow (Close)</label>
        <locationX>512</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>routeToSubflow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RC_Case_Close</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subflow_Escalate</name>
        <label>Set Subflow (Escalate)</label>
        <locationX>328</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>routeToSubflow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RC_Case_Escalate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subflow_Work</name>
        <label>Set Subflow (Work)</label>
        <locationX>419</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>routeToSubflow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RC_Case_Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Route</name>
        <label>Route</label>
        <locationX>401</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Route_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workButtonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subflow_Work</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Route_Escalate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>escalateButtonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subflow_Escalate</targetReference>
            </connector>
            <label>Escalate</label>
        </rules>
        <rules>
            <name>Route_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subflow_Close</targetReference>
            </connector>
            <label>Close</label>
        </rules>
    </decisions>
    <interviewLabel>Case Status Router {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Router</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>screen1</name>
        <label>Set Case Status</label>
        <locationX>292</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Route</targetReference>
        </connector>
        <fields>
            <name>Case_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>case.CaseNumber</elementReference>
            </defaultValue>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>case.Subject</elementReference>
            </defaultValue>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Status_Current</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>case.Status</elementReference>
            </defaultValue>
            <fieldText>Case Status (Current)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>workButton</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Work Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>class</name>
                <value>
                    <stringValue>slds-size_6-of-12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workButtonClicked</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
        </fields>
        <fields>
            <name>escalateButton</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Escalate Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>class</name>
                <value>
                    <stringValue>slds-size_6-of-12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>escalateButtonClicked</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
        </fields>
        <fields>
            <name>closeButtoon</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>class</name>
                <value>
                    <stringValue>slds-size_6-of-12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>closeButton</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Subflow</name>
        <label>Show Subflow</label>
        <locationX>176</locationX>
        <locationY>369</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <fields>
            <name>TheSubflow</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Launch Subflow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToLaunch</name>
                <value>
                    <elementReference>routeToSubflow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>launchFlowOnInit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>doFlowActionWhenSubflowCompletes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>57</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>closeButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>escalateButtonClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500R000000BHfvFIAT</stringValue>
        </value>
    </variables>
    <variables>
        <name>routeToSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workButtonClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
