force-app/main/default/flows/RC_Flow_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>flowChoice1</name>
        <choiceText>Create Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RC_Create_Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>flowChoice2</name>
        <choiceText>Create Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RC_Create_Task</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Subflow_Status</name>
        <label>Subflow Status?</label>
        <locationX>301</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subflow_Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINISHED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Subflow</targetReference>
            </connector>
            <label>Subflow Completed</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Router {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Router</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Subflow</name>
        <label>Choose Subflow</label>
        <locationX>168</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Show_Subflow</targetReference>
        </connector>
        <fields>
            <name>subflowChoice</name>
            <choiceReferences>flowChoice1</choiceReferences>
            <choiceReferences>flowChoice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Subflow To Launch</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Subflow</name>
        <label>Show Subflow</label>
        <locationX>309</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Subflow_Status</targetReference>
        </connector>
        <fields>
            <name>TheSubflow</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>subflowChoice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowToLaunch</name>
                <value>
                    <elementReference>subflowChoice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>doFlowActionWhenSubflowCompletes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonFlowAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>launchFlowOnInit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>subflowStatus</assignToReference>
                <name>flowStatus</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Choose_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>subflowStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
